// main: ../styles.scss


//z-index
$tint-bg: -3;
$base: 1;
$z1: 1;
$z2: 2;
$popup: 100; // tooltips
$modal-backdrop: 999;
$modal-container: 1000;
$modal-content: 1001;
$modal-controls: 1100;
$screen-reader-setting: 100000;
$navigation-container: 50;
